<div class="container-fluid">
  <div class="container xd-container">
    <h2>Oferta</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Descuento</th>
          <th>fExpiracion</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oferta of lista">
              <td>{{oferta.id}}</td>
            <td>{{oferta.vcTitulo}}</td>
            <td>{{oferta.vcDescr}}</td>
            <td>{{oferta.vcDescu}}</td>
            <td>
              {{oferta.vcFexp}}
          </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-default" (click)="addOferta()">Añadir oferta</button>
      </div>
    </div>
  </div>
</div>
