<div class="container-fluid">
  <div class="container xd-container">
    <h2>Oferta</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Descuento</th>
          <th>fExpiracion</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let oferta of ofertas">
          <td class="ownerFullName"><a routerLink="/oferta/{{oferta.id_oferta}}" routerLinkActive="active"
                                       (click)="onSelect(owner)">{{oferta.id}} </a></td>
          <td>{{oferta.titulo}}</td>
          <td>{{oferta.Descripcion}}</td>
          <td>{{oferta.Descuento}}</td>
          <td>
            {{oferta.f_expiracion}}
        </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-default" (click)="addOwner()">Add Owner</button>
      </div>
    </div>
  </div>
</div>
